@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

#content {
  text-align: center;
}

.bankbook {
  border-width:1;
  border-style:solid;
  border-collapse: collapse;
}